@use './variables.scss' as *;

.navbar-nav a.nav-link {
    font-weight: bold;
    color: $dc-secondary;
    border-bottom: 5px solid transparent;

}

.dc-active {
    color: $dc-info !important;
    border-bottom: 5px solid $dc-info !important;
}

.dc-jumbotron {
    height: 400px;
    background-image: url(../assets/img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .dc-currentSeries {
        background-color: $dc-info;
    }

}